<!DOCTYPE html>
<html>
<head>
  <title>OauthDemo</title>
  <meta property="wb:webmaster" content="5fdbb9c04b7b2e44" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
